<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nagoya Trip</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			text-align: center;
		}
		.upper {
			background-color: #eee;
			padding: 10px;
		}
		.middle {
			padding: 50px;
		}
		.lower {
			background-color: #eee;
			padding: 10px;
		}
		button {
			background-color: #4CAF50;
			color: white;
			padding: 20px;
			border: none;
			border-radius: 10px;
			font-size: 24px;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="upper">
		<h1>名古屋旅行<br>Trip to Nagoya, Japan<br>Mong King / Mei King Guesthouse</h1>
	</div>
	<div class="middle">
		<button onclick="location.href='{{ url_for('index')}}'">行程<br>Guesthouse<br>Information</button>
	</div>
	<!-- <div class="lower">
		<button>Contact Us</button>
	</div>
	-->
</body>
</html>
